@model GerenciadorDeProcessosSeletivos.Models.IdiomaConhecido

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>IdiomaConhecido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nivel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nivel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdiomaConhecidoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
